/.claude
/.vscode
/Dashboard/ui/node_modules
/Dashboard/brain/venv
/Dashboard/brain/logs
CLAUDE.md
.env
/node_modules
/Dashboard/brain/__pycache__
/Dashboard/brain/providers/__pycache__
/Dashboard/brain/*.onnx
/Dashboard/brain/*.onnx.json
/Users/utroff/Desktop/Skripsie/Reporting/Stellenbosch_University_Thesis_Template-2
/pi_transfers
